<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.8.1"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>iworkServlet</servlet-name>
    <servlet-class>de.hdm.iWork.server.IWorkAdministrationImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>iworkServlet</servlet-name>
    <url-pattern>/iwork</url-pattern>
  </servlet-mapping>
  
  <servlet>
      	<servlet-name>iworkVerwaltungServlet</servlet-name>
      	<servlet-class>de.hdm.iWork.server.IWorkAdministrationImpl</servlet-class>
  </servlet>

  <servlet-mapping>
		<servlet-name>iworkVerwaltungServlet</servlet-name>
		<url-pattern>/iWork/iworkadministration</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>IWork.html</welcome-file>
  </welcome-file-list>

</web-app>
